.mainContainer {
  background-color: rgba(224, 255, 255, 0.7);
  margin-right: 0.2rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.hr {
  margin: 0.7rem 0;
}

.hrFinal {
  margin-bottom: 0.7rem; 
}

@media ( max-width: 799px ){
  .mainContainer {
    width:500px;
  } 
}