.mainContainer {
  background-color: rgba(224, 255, 255, 0.7);
  width: 77.9vw;
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 0.15rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagePagination, .pagePageSelected {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  margin: 0.53rem;
  padding: 0.39rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(128, 128, 128, 0.7);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.pagePagination:hover{
  text-shadow: 1px 1px 1px black;
  transform: scale(1.2);
  background-color: rgba(0, 255, 13, 0.733);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pagePageSelected {
  text-shadow: 1px 1px 1px black;
  background-color: rgba(241, 238, 45, 0.801);
  cursor: default;
}

@media ( max-width: 1030px ){
  .mainContainer {
    width: 76vw;
  }
}

@media ( max-width: 974px ){
  .mainContainer {
    width: 74.4vw;
  } 
}

@media ( max-width: 868px ){
  .mainContainer {
    width: 71.5vw;
  } 
}

@media ( max-width: 805px ){
  .mainContainer {
    width: 70.5vw;
  } 
}

@media ( max-width: 757px ){
  .mainContainer {
    width: 68.4vw;
  } 
}

@media ( max-width: 667px ){
  .mainContainer {
    width: 65.3vw;
  } 
}

@media ( max-width: 636px ){
  .mainContainer {
    width: 63.2vw;
  } 
}

@media ( max-width: 595px ){
  .mainContainer {
    width: 61.35vw;
  } 
}

@media ( max-width: 533px ){
  .mainContainer {
    width: 57vw;
  } 
}

@media ( max-width: 497px ){
  .mainContainer {
    width: 53.9vw;
  } 
}

@media ( max-width: 461px ){
  .mainContainer {
    width: 48vw;
  } 
}
